<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<p><%= @profile.description %></p>
<%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
<ul>
  <p>Age: <%= @profile.age %></p>
  <p>From: <%= @profile.nationality %></p>
  <p>Speaks: <%= @profile.language %></p>
</ul>

<%= link_to "Home", fams_path%>
<% if policy(@profile).update? %>
  <%= link_to "Edit", edit_user_registration_path%>
  <%= link_to "New Fam", new_fam_path%>
<% end %>

