
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-5">
      <div class="requests-box my-5 p-5" align="center">
        <h1>Bookings</h1>
        <%= simple_form_for([@fam, @booking]) do |f| %>
        <%= f.input :number_of_guests  %>
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker", id: "range_start" } %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
        <%= f.button :submit, "Confirm", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
