<div class="navbar navbar-expand-sm navbar-light d-flex navbar-lewagon fixed-top">
  <%= link_to "/fams", class: "navbar-brand" do %>
  <%= image_tag "https://static.thenounproject.com/png/643659-200.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? %>
  <div class="d-flex space-around">
    <div class="nav-link">
      <%= link_to "Dashboard", bookings_path %>
    </div>
    <div class="nav-link">
      <%= link_to "Profile", profiles_path(current.user) %>
    </div>
    <div class="nav-link">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <% else %>
  <div class="d-flex space-around">
    <div class="nav-link">
      <%= link_to "Become a family", new_fam_path %>
    </div>
    <div class="nav-link">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
    <div class="nav-link">
      <%= link_to "Log In", new_user_session_path%>
    </div>
    <% end %>
  </div>
</div>

