

<div class="container-index m-4">
  <h1>Find the perfect Family for you!</h1>
  <h6>We found <%= @fams.length %> families to rent</h6>
  <div class="cards">

    <%# cl_image_tag image.photo, crop: :fill, class: "card-image"   %>

    <% @fams.each do |fam|  %>
    <div class="card-family">
        <% if fam.pictures.any? %>
          <%= cl_image_tag fam.pictures.first.photo, crop: :fill, class: "card-family-image" %>
        <% else %>
          <%= image_tag "default_family.jpg", crop: :fill, class: "card-family-image" %>
        <% end %>
      <div class="card-family-info">
        <div>
          <%= link_to fam_path(fam) do %>
          <h2><%= fam.name %></h2>
          <% end %>
          <p><i class="fas fa-globe-americas"></i> <%= fam.cultural_experience %></p>
        </div>
      </div>
      <h2 class="card-family-pricing"><%= fam.price %></h2>
    </div>
    <% end %>
<!--   <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWFyaWVoZWxsZXIiLCJhIjoiY2syb2txZzNwMHl3dDNibnhmaG5wMTRzZyJ9.e7zokllHBPrHEGthjarzDA'>
 -->
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>



