<div class="container">
  <div class="row">

    <div class="images-card col-6">
      <ul>
        <% @fam.pictures.each do |picture| %>
          <%= cl_image_tag(picture.photo, width: 400, height: 300, crop: :fill) %>
        <% end %>
      </ul>
    </div>

    <div class="container-details col-6 py-5">
      <h1>We are the <%= @fam.name %></h1>
      <h4>Come and stay with us!</h4>
      <div class="card-details">
       <p><i class="fas fa-users"></i> <%= @fam.members %> Family members</p>
       <p><i class="fas fa-globe-americas"></i> <%= @fam.cultural_experience %></p>
       <p><i class="fas fa-language"></i> we speak <%= @fam.language %></p>
       <p><i class="fas fa-home"></i> we live in a <%= @fam.housing_type %></p>
       <br>
       <p><%= @fam.description %></p>
     </div>
     <%= link_to "Book your stay with us", new_fam_booking_path(@fam.id), class: "btn btn-flat" %>
   </div>
 </div>
</div>
